@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper
{
    background-color: red;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    padding: 50px;
    font-family: "Noto Sans", sans-serif;
}

.container
{
    border-radius: 10px;
    margin: 0 auto;
    height: 240px;
    
    width: 40%;
    color: black;
    text-align: center;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container h4
{
    font-size: 20px;
    font-weight: 600;
}
.container p
{
    font-size: 20px;
    font-weight: 600;
}
.container button
{
    width: 40%;
    margin: 0 auto;
    font-size: 23px;
    background-color: skyblue;
    border-radius: 10px;
    border: 1px solid grey;
    color: white;
}